body {
  height: 100vh;
  text-align: center;
  color: black;
  font-family: "Monaco";
  background-color: #ffffff;
}

/* a div that contain all that is in the body */
.all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr;
  grid-gap: 10px 10px;
  grid-template-areas:
    "header header header header"
    "profile . more ."
    "profile bio more skills"
    ". bio . skills";
  height: 100vh;
}

/*---------------------------------------------*/

/* header */
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "goback blink contact";
  background-color: #51d0de;
  border-radius: 20px;
}

/*---------------------------------------------*/

/* link to go back to other page */
.goback {
  grid-area: goback;
  text-align: justify;
  font-size: xx-large;
  margin-top: 25px;
  margin-left: 5px;
}

/*---------------------------------------------*/

header a {
  text-decoration-line: none;
  color: #bf4aa8;
  font-size: large;
  font-weight: 600;
  padding: 0;
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
}

a:hover {
  color: aqua;
  width: 30px;
  height: 40px;
  background-color: aliceblue;
}
*/
/*---------------------------------------------*/

/* welcome header */
.welcome {
  grid-area: welcome;
}
/* Make the Header text Blink */
h1 {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*---------------------------------------------*/

/* social media contact info */
.contact {
  grid-area: contact;
}

/*---------------------------------------------*/

/* profile picture */
.profile {
  grid-area: profile;
  background-image: url(./Pursuit_9.1_-_Fadila_Ali209\ copy.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.profile {
  border: 2px solid black;
  border-radius: 50%;
  display: block;
  width: 300px;
  height: 300px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.profile:hover {
  border: 3px solid #feb300;
  width: 350px;
  height: 350px;
  transform: rotate(360deg);
}

/*---------------------------------------------*/

/* code related bio */
.bio {
  grid-area: bio;
  background-color: #f7882f;
  border-radius: 20%;
  width: fit-content;
  block-size: fit-content;
}

/*---------------------------------------------*/

/* other hubbies related bio */
.more-bio {
  grid-area: more;
  background-color: #8bf0ba;
  border-radius: 10%;
  width: fit-content;
  block-size: fit-content;
}

/*---------------------------------------------*/

/* some skills */
.skills {
  grid-area: skills;
  background-color: #bf4aa8;
  border-radius: 20%;
  width: -moz-fit-content;
  height: -moz-fit-content;
  block-size: fit-content;
  text-align: center;
}
li {
  list-style-type: none;
}
ul {
  padding-left: 0;
}

span {
  font-size: x-large;
}

/*---------------------------------------------*/

@media (max-width: 1230px) {
  .all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.5fr;
    grid-gap: 10px 10px;
    grid-template-areas:
      "header header"
      "profile bio"
      "more skills";
    height: 100vh;
  }
  header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    grid-template-areas:
      "goback goback goback"
      "blink blink blink"
      "contact contact contact";
    background-color: #51d0de;
    border-radius: 20px;
  }
  .bio {
    border-radius: 0%;
  }
  .more-bio {
    border-radius: 0%;
  }
  .skills {
    border-radius: 0%;
  }
}

@media (max-width: 800px) {
  .all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 10px 10px;
    grid-template-areas:
      "header header"
      "profile profile"
      "bio bio"
      "more more"
      "skills skills";
    height: 100vh;
  }
  .profile {
    margin-left: 255px;
  }
  .profile {
    border: 2px solid black;
    border-radius: 50%;
    display: block;
    width: 200px;
    height: 200px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }

  .profile:hover {
    border: 3px solid #feb300;
    width: 250px;
    height: 250px;
    transform: rotate(360deg);
  }
}
