body {
  /* background-color: #1d1145; */
  background-image: linear-gradient(#1d1145, #1d1145);
}

/* the div that contain all page content */
.all {
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  grid-gap: 10px 20px;
  grid-template-areas:
    "header header header"
    "content content side"
    "footer footer footer";
  grid-template-rows: 1fr 3.5fr 1fr;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  font-family: "Monaco";
}

/* welcome */
.header {
  grid-area: header;
  background-color: #1d1145;
  font-family: "Monaco";
  color: aliceblue;
  text-align: center;
}

/* for main content */
.content {
  background-image: url(./axel-ruffini-iulnjpZyWnc-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 3fr 0.5fr;
  grid-template-areas:
    "img bio ."
    "more more more";
}

/* for skills */
.side {
  grid-area: side;
  background-image: linear-gradient(#3f1d83, #1d1145);
}

/* for contact info */
.footer {
  font-family: Arial, Helvetica, sans-serif;
  grid-area: footer;
  background-color: #1d1145;
  color: aliceblue;
  text-align: center;
  padding: 2em;
}

/* profile img div */
.photo {
  text-align: left;
}

/* my profile img */
img {
  grid-area: img;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
  display: block;
  width: 200px;
  height: 200px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

img:hover {
  border: 3px solid #efcf2f;
  width: 350px;
  height: 350px;
  transform: rotate(180deg);
}
/* done */

/* contact info a tags */
p a {
  background-color: aliceblue;
  border: 2px solid aliceblue;
  border-radius: 20px;
  margin: 4px;
  color: black;
  text-decoration-line: none;
}
/* done */

h2 a {
  text-decoration-line: none;
  font-style: italic;
  color: aqua;
}

.bio {
  grid-area: bio;
  margin-top: 2px;
  text-align: left;
}

.more-bio {
  grid-area: more;
  margin: auto;
  font-size: large;
  padding-left: 5px;
  text-align: center;
  background-color: black;
}

/* Make my contact info Links hover */
p a:hover {
  background-color: beige;
  color: aqua;
}

/* the link that take user back to the main page */
header a {
  text-decoration-line: none;
  text-align: left;
  position: relative;
  right: 650px;
  background-color: aliceblue;
  border-radius: 20px;
  font-size: larger;
  font-weight: 700;
  padding: 5px;
  margin-right: 40px;
  border: 3px solid black;
}

header a:hover {
  color: aqua;
  width: 30px;
  height: 40px;
  background-color: #fff5d7;
}
/* done */

/* Make the Header text Blink */
.blink {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
