* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  text-align: center;
  color: #ffffff;
  font-family: "Monaco";
  background-color: #ffffff;
  background: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.1)
  );
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/04d53f80577741.5cf8b5c84827c.gif);
}

/* a div that contain all that is in the body */
.all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr;
  grid-gap: 10px 10px;
  grid-template-areas:
    "header header header header"
    "profile . more ."
    "profile bio more skills"
    ". bio . skills";
  height: 100vh;
}

/*---------------------------------------------*/

/* header */
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "goback blink contact";
  /* background-color: #51d0de; */
  /* border: 3px solid #51d0de; */
  background: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.6),
    rgba(0, 255, 255, 0.2)
  );
  box-shadow: 2px 2px 20px rgba(122, 122, 122, 0.2);
  padding: 1rem;
  z-index: 1;
}

/*---------------------------------------------*/

/* link to go back to other page */
.goback {
  grid-area: goback;
  text-align: justify;
  font-size: xx-large;
  margin-top: 25px;
  margin-left: 5px;
}

/*---------------------------------------------*/

header a {
  text-decoration-line: none;
  color: #bf4aa8;
  font-size: medium;
  font-weight: 600;
  padding: 1px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
}

header a:hover {
  color: aqua;
  width: 30px;
  height: 40px;
  background-color: aliceblue;
}
*/
/*---------------------------------------------*/

/* welcome header */
.welcome {
  grid-area: welcome;
}
/* Make the Header text Blink */
h1 {
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
    color: aqua;
  }
}

/*---------------------------------------------*/

/* social media contact info */
.contact {
  grid-area: contact;
}

/*---------------------------------------------*/

/* profile picture */
.profile {
  grid-area: profile;
  background-image: url(./IMG-1282.jpg);
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
}
.profile {
  border: 3px solid #f7882f;
  border-radius: 50%;
  display: block;
  width: 330px;
  height: 330px;
  transition: width 2s, height 2s, background-color 2s, transform 3s;
}

.profile:hover {
  border: 3px solid #f7882f;
  width: 350px;
  height: 350px;
  transform: rotate(360deg);
}

/*---------------------------------------------*/

/* code related bio */
.bio {
  grid-area: bio;
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.6),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(2rem);
  border-radius: 50%;
  text-align: center;
  width: fit-content;
  block-size: fit-content;
  padding: 44px;
  animation: animate 12s linear infinite;
  box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.1);
}
@keyframes animate {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-100px);
  }
}

/* bio Pursuit a tag */
h3 a {
  text-decoration-line: none;
  color: aquamarine;
}
h3 a:hover {
  color: aqua;
}

/*---------------------------------------------*/

/* other hubbies related bio */
.more-bio {
  grid-area: more;
  text-align: center;
  border-radius: 50%;
  width: fit-content;
  block-size: fit-content;
  padding: 12%;
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(20rem);
  box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.1);
  animation: animate 8s linear infinite;
  z-index: 5;
}
@keyframes animate {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/*---------------------------------------------*/

/* some skills */
.skills {
  grid-area: skills;
  border-radius: 50%;
  width: -moz-fit-content;
  height: -moz-fit-content;
  block-size: fit-content;
  text-align: center;
  padding: 5%;
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.6),
    rgba(255, 255, 255, 0.1)
  );
  animation: animate 18s linear infinite;
  backdrop-filter: blur(20rem);
  box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.1);
}
@keyframes animate {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-100px);
  }
}

.skills h4 {
  text-decoration-line: underline;
}
li {
  list-style-type: none;
}
ul {
  padding-left: 0;
}

span {
  font-size: xx-large;
  animation: color-change 3s infinite;
}
@keyframes color-change {
  0% {
    color: #ffffff;
  }
  50% {
    color: aqua;
  }
  100% {
    color: #bf4aa8;
  }
}

/*---------------------------------------------*/

@media (max-width: 1200px) {
  body {
    overflow: scroll;
  }
  .all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 10px 10px;
    grid-template-areas:
      "header header"
      "profile profile"
      "bio bio"
      "more more"
      "skills skills";
    height: 100vh;
  }
  .profile {
    margin-left: 255px;
  }
  .profile {
    border: 2px solid black;
    border-radius: 50%;
    display: block;
    width: 200px;
    height: 200px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }

  .profile:hover {
    border: 3px solid #feb300;
    width: 250px;
    height: 250px;
    transform: rotate(360deg);
  }
  .bio {
    border-radius: 20px;
    box-shadow: 8px 8px 20px rgba(255, 255, 255, 0.2);
    animation: none;
  }
  .more-bio {
    border-radius: 20px;
    box-shadow: 8px 8px 20px rgba(255, 255, 255, 0.2);
    animation: none;
  }
  .skills {
    border-radius: 20px;
    box-shadow: 8px 8px 20px rgba(255, 255, 255, 0.2);
    animation: none;
  }
}
