body {
  font-family: "Monaco";
  height: 100vh;
  text-align: center;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/16c104116416103.6061cc85476eb.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

/*-----------------------------------------*/

.all {
  height: 100vh;
  color: #ffffff;
  font-size: larger;
  display: grid;
  grid-gap: 20px 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.5fr;
  grid-template-areas:
    "header header"
    "main side1"
    "main side2";
}

/*-----------------------------------------*/

/* header */
.header {
  grid-area: header;
  border: 3px solid #2c2c2c;
  background-color: #2c2c2c;
  margin-right: 10px;
}

/*-----------------------------------------*/

/* main content */
.main {
  grid-area: main;
  margin-right: 35%;
}

/*-----------------------------------------*/

/* flag side */
.side1 {
  grid-area: side1;
  margin-left: 30%;
}

/*-----------------------------------------*/

/* coat side */
.side2 {
  grid-area: side2;
  margin-left: 30%;
}
.side2 img {
  height: 250px;
  width: 300px;
}

/*-----------------------------------------*/

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

/*-----------------------------------------*/

#country {
  border-radius: 50px;
  border: 1px solid aliceblue;
}
#country:hover {
  border: 2px solid aqua;
}

#submit-country {
  border-radius: 50px;
  border: 2px solid aliceblue;
}
#submit-country:hover {
  color: aqua;
  border: 2px solid aqua;
}

/*-----------------------------------------*/

a {
  border: 2px solid #000000;
  border-radius: 20px;
  background-color: #000000;
  text-decoration-line: none;
  font-size: larger;
  color: aliceblue;
  padding-right: 2px;
  padding-left: 2px;
  text-align: center;
  margin-right: 91%;
  margin-bottom: 5px;
}

a:hover {
  background-color: aliceblue;
  color: aqua;
  font-weight: 700;
}

/*-----------------------------------------*/

@media (max-width: 1000px) {
  .all {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.2fr 1fr 0.5fr 0.5fr;
    grid-template-areas:
      "header"
      "main"
      "side1"
      "side2";
  }
  body {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/16c104116416103.6061cc85476eb.gif);
    background-size: cover;
    background-repeat: repeat;
    text-align: center;
  }
  .main {
    margin-left: 0;
    margin-right: 0;
    color: rgb(255, 63, 41);
  }
  .side1 {
    margin-left: 0;
    margin-right: 0;
    color: rgb(255, 63, 41);
  }
  .side2 {
    margin-left: 0;
    margin-right: 0;
    color: rgb(255, 63, 41);
  }
  a {
    margin: auto;
    padding: -5px;
    font-size: large;
  }
}

/*-----------------------------------------*/

/* error message */
#error {
  text-align: center;
  color: red;
  display: none;
}

#error {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
